In [2]:
import numpy as np

In [ ]:
# Sales data for Quarter 1 (Matrix 1)
# Rows represent different products, columns represent different regions

q1 = np.array(
    [
        [200, 220, 250],  # Product A
        [150, 180, 210],  # Product B
        [300, 330, 360],  # Product C
    ]
)

q2 = np.array(
    [
        [209, 231, 259],  # Product A
        [155, 192, 222],  # Product B
        [310, 340, 375],  # Product C
    ]
)

In [ ]:
q1 + q2

array([[409, 451, 509],
       [305, 372, 432],
       [610, 670, 735]])

In [ ]:
q2 - q1

array([[ 9, 11,  9],
       [ 5, 12, 12],
       [10, 10, 15]])

In [11]:
(q2 - q1) * 100 / q1  # value in percentage

array([[4.5       , 5.        , 3.6       ],
       [3.33333333, 6.66666667, 5.71428571],
       [3.33333333, 3.03030303, 4.16666667]])

In [13]:
prices = np.array([
    [10, 12, 11],  # Prices for Product A in different regions
    [8,  9,  10],  # Prices for Product B
    [15, 16, 17]   # Prices for Product C
])

q1_revenue = q1 * prices
q1_revenue

array([[2000, 2640, 2750],
       [1200, 1620, 2100],
       [4500, 5280, 6120]])